body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../images/landscape_day.png');
    background-size: cover;
    background-repeat: no-repeat;
}

html, body, .my-wrapper {
    height: 100%;
}

main {
    flex: 1 0 auto;
}
.blue-meteor{
    background-color: rgb(40,78,100);    
}
.blue-dark-meteor{
    background-color: rgb(29,62,80);    
}

.title-error{
    font-size: 6.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .title-error{
        font-size: 5.2rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .title-error{
        font-size: 5.2rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .title-error{
        font-size: 5.2rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .title-error{
        font-size: 5.2rem;
    }
}