body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.new-responsive{
    width: 100% !important;
    height: -webkit-fill-available ;
}

.blue-meteor{
    background-color: rgb(40,78,100);    
}

.blue-dark-meteor{
    background-color: rgb(29,62,80);    
}

.blue-light-meteor{
    background-color: rgb(43,91,117);
}

.blue-light-meteor-2{
    background-color: rgb(64,107,132);
}

.error-msg{
    background-color: #d32f2f !important;
}

.success-msg{
    background-color: #2e7d32 !important;
}

.message{
    display: none;
}

.social-ico{
    width: 25px;
    vertical-align: middle !important;    
}

.width-logo{
    width: 275px !important;
    height: 100%;
    position: absolute
}

.content{
    padding-left: 275px;
    width: 100%;  
}

.sidenav{
    width: 275px !important;
}

.title-txt{
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.label-error{
    color: #e53935 ;
    font-size: .8rem;
}

.waves-effect.waves-meteor .waves-ripple {
    background-color: rgb(43,91,117); 
}

.datepicker-date-display {
    background-color: rgb(29,62,80);
}

@media only screen and (max-width:992px) {
    .content{
        padding-left: 0;
        width: 100%;
    } 

    .top-nav{
        top: 0px !important;
    }
}