.collapsible-no-pointer{
    cursor: auto !important;
}

.card-img-head {
    height: 130px !important;    
    object-fit: cover !important;    
    object-position: center;
}

.button-profile{
    height: 95px !important;
    width: 95px !important;    
}
.image-profile{    
    object-fit: cover !important;    
    object-position: top;
}

.label-info{
    font-size: 1.1rem;
}

.collapsible-marginless{
    margin-bottom: 0px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .card-img-head {
        height: 70px !important;
    }

    .button-profile{
        height: 80px !important;
        width: 80px !important;
    }

    .label-info{
        font-size: 1.1rem;
    }  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .label-info{
        font-size: .9rem;
    } 
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .card-img-head {
        height: 70px !important;
    }

    .button-profile{
        height: 65px !important;
        width: 65px !important;
    }

    .label-info{
        font-size: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .card-img-head {
        height: 70px !important;
    }

    .button-profile{
        height: 65px !important;
        width: 65px !important;
    }

    .label-info{
        font-size: .8rem;
    }  
}