.pdfShow{
    height: 70%;
    width: 100%;
}

/*TABLET(POTRAIT)*/
@media (min-width: 768px) and (max-width: 1024px) {
    .pdfShow{
        height: 60%;
        width: 100%;
    }
}

/*TABLET(landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .pdfShow{
        height: 70%;
        width: 100%;
    }
}

/*mobile(landscape)*/
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .pdfShow{
        height: 70%;
        width: 100%;
    }
}

/*mobile(potrait)*/
@media (min-width: 320px) and (max-width: 480px) {
    .pdfShow{
        height: 40%;
        width: 100%;
    }
}