body{
    background: url('../../../images/bbb.png') center center fixed;     
    background-size: contain;
}

.card{
    margin-top: 30px !important;
}

.content{
    width: 100%;    
}

.logo-img{
    height: 140px;
    width: 140px;
}

@media only screen and (max-width:992px){
    .logo-img{
        height: 90px !important;
        width: 90px !important;
    }   

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background: url('../../../images/bbb.png') no-repeat center center fixed;
        background-size: cover;
    }
}